<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-container">
      <div class="header-elements">
        <h1>My Wikiminous</h1>
        <button class="btn-gray">New article</button>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
